<h3>Owasp Top 10 Examples</h3>

<ul>
  <li><%= link_to "#10 - Unvalidated Redirects", controller: 'owasp10', action: 'index' %></li>
  <br/>
  <li><%= link_to "#7 - Missing Function Level Access Controls", controller: 'owasp7', action: 'index' %></li>
  <li><%= link_to "#6 - Sensitive Data Disclosure", controller: 'owasp6', action: 'index' %></li>
  <li><%= link_to "#5 - Security Misconfiguration", controller: 'owasp5', action: 'index' %></li>
  <li><%= link_to "#4 - Insecure Direct Object Reference", controller: 'owasp4', action: 'index' %></li>
  <li><%= link_to "#3 - Cross-Site Scripting (XSS)", controller: 'owasp3', action: 'index' %></li>
  <li><%= link_to "#2 - Broken Authentication and Session Management", controller: 'owasp2', action: 'index' %></li>
  <li><%= link_to "#1 - Injection", controller: 'owasp1', action: 'index' %></li>
</ul>